<main>
    <section class="cadastro">
    
        <h2>Cadastrar Usuário</h2>
    
        <label for="nome">Nome:</label>
        <input type="text" [(ngModel)]="nome" name="nome" id="nome">
    
        <label for="email">E-mail:</label>
        <input type="password" name="email" id="email">
    
        <input type="submit"  (click)="gravar()" value="Gravar" id="gravar" style="background-color: rgb(86, 255, 86);">
        <input type="submit" (click)="cancelar()" value="Cancelar" id="Cancelar" style="background-color: rgb(255, 83, 83);">
    
    </section>
    <section class="lista">
        <h2>Usuários Cadastrados</h2>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>E-mail</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <!-- <tr>
                    <td>{{ nome}}</td>
                    <td>{{ status }}</td>
                    <td>
                        <button type="submit" value="Deletar">🗑️</button>
                    </td>
                </tr> -->
            </tbody>
        </table>

    </section>
</main>
